/* PC */
@media (min-width: 1024px){

}

/* tablet */
@media(min-width: 720px) and (max-width: 1023px){
    #nav > li{
        display: block;
    }

    #nav{
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .sub-nav{
        position: inherit;
        background-color: #333;
    }

    #nav .sub-nav a{
        padding: 0 0 0 32px;
        color: #fff;
        display: block;
    }

    #nav .sub-nav{
        width: 100%;
    }

    .sub-navli{
        width: 100%;
        display: block;
    }

    #header .reg-log{
        display: none;
    }

    #header{
        overflow: hidden;
    }
    #nav li a{
        padding: 0 18px;
    }
    
    .menu-mobile-btn{
        display: block;
    }

    #header .reg-log-mobile{
        display: block;
    }

    .grid_column-2{
        display: none;
    }

    .grid_row{
        justify-content: center;
    }

    .grid_column-2-3{
        width: 50%;
    }

    .grid_column-2-4{
        width: 100%;
        margin-top: 5px;
    }

    .footer-list{
        margin: 0 0 30px 0;
    }
    .course-location{
        flex-wrap: wrap;
        justify-content: center;
    }

    .course-location-text{
        margin-bottom: 15px;
    }

    .course-location-btn{
        height: auto;
        margin-bottom: 15px;
    }

    .course-location-btn-mobile{
        height: 40px;
    }

    .menu-mobile-btn-user{
        z-index: 1;
    }

    .user-input-name{
        width: 100%;
        display: block;
    }

    .user-input-wrap{
        padding: 0;
        margin: 0;
    }

    .user-name-text{
        margin-bottom: 15px;
        text-align: left;
    }

    .user-first-name{
        display: block;
    }

    #header .course-menu-mobile{
        display: block;
    }

    #header .menu-user-mobile{
        display: block;
    }

    .course-location-text-user{
        font-size: 20px;
    }

    .course-level-img-deltail{
        display: block;
        max-width: 100%;
        height: auto;
    }

    .course-level{
        padding: 0;
    }
}

/* mobile */
@media(max-width: 740px){
    #nav > li{
        display: block;
    }

    #nav{
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .sub-nav{
        position: inherit;
        background-color: #333;
    }

    #nav .sub-nav a{
        padding: 0 0 0 32px;
        color: #fff;
        display: block;
    }

    #nav .sub-nav{
        width: 100%;
    }

    .sub-navli{
        width: 100%;
        display: block;
    }

    #header .reg-log{
        display: none;
    }

    #header{
        overflow: hidden;
    }
    #nav li a{
        padding: 0 18px;
    }
    
    .menu-mobile-btn{
        display: block;
    }

    #header .reg-log-mobile{
        display: block;
    }

    .grid_column-2{
        display: none;
    }

    .grid_row{
        justify-content: center;
    }

    .grid_column-2-3{
        width: 100%;
    }

    .grid_column-2-4{
        width: 100%;
        margin-top: 5px;
    }

    .footer-list{
        margin: 0 0 30px 0;
    }
    .course-location{
        flex-wrap: wrap;
        justify-content: center;
    }

    .course-location-text{
        margin-bottom: 15px;
    }

    .course-location-btn{
        height: auto;
        margin-bottom: 15px;
    }

    .course-location-btn-mobile{
        height: 40px;
    }

    .menu-mobile-btn-user{
        z-index: 1;
    }

    .user-input-name{
        width: 100%;
        display: block;
    }

    .user-input-wrap{
        padding: 0;
        margin: 0;
    }

    .user-name-text{
        margin-bottom: 15px;
        text-align: left;
    }

    .user-first-name{
        display: block;
    }

    #header .course-menu-mobile{
        display: block;
    }

    #header .menu-user-mobile{
        display: block;
    }

    .course-location-text-user{
        font-size: 20px;
    }

    .course-level-layout{
        flex-direction: column;
    }

    
    .grid_column-6-responsive{
        width: 100%;
    }
    
    .course-level-name-wrap{
        margin-top: 200px;
        width: calc(100% - 15px);
        border-top-left-radius: 20px;
       
    }

    .course-level-img-deltail{
        border-radius: 0;
    }
    
   .course-level{
       padding: 0;
   }
}